.comp-input{
  color: black;

  display: flex;
  justify-content: left;
  align-items: center;

  margin: 10px 0;
  padding: 20px 10px;

  .comp-input-left {
    width: 160px;
    padding-left: 20px;

    .comp-input-left-star {
      color: indianred;
    }

    .comp-input-left-title {
      margin-left: 8px;
    }
  }

  .comp-input-right {

    padding-left: 30px;
    //font-size: 28px;

    .comp-input-right-value {

    }

    .comp-input-right-placeholder {
      color: lightgray;
    }
  }
}
